USE [QA]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 6/13/2019 7:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[NationalIDNumber] [nvarchar](15) NOT NULL,
	[ContactID] [int] NOT NULL,
	[LoginID] [nvarchar](256) NOT NULL,
	[ManagerID] [int] NULL,
	[Title] [nvarchar](50) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[MaritalStatus] [nchar](1) NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[HireDate] [datetime] NOT NULL,
	[SalariedFlag] [bit] NOT NULL,
	[VacationHours] [smallint] NOT NULL,
	[SickLeaveHours] [smallint] NOT NULL,
	[CurrentFlag] [bit] NOT NULL,
	[rowguid] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [NationalIDNumber], [ContactID], [LoginID], [ManagerID], [Title], [BirthDate], [MaritalStatus], [Gender], [HireDate], [SalariedFlag], [VacationHours], [SickLeaveHours], [CurrentFlag], [rowguid], [ModifiedDate]) VALUES (1, N'14417807', 1209, N'adventure-works\guy1', 16, N'Production Technician - WC60', CAST(N'1972-05-15 00:00:00.000' AS DateTime), N'M', N'M', CAST(N'1996-07-31 00:00:00.000' AS DateTime), 0, 21, 30, 1, N'aae1d04a-c237-4974-b4d5-935247737718', CAST(N'2004-07-31 00:00:00.000' AS DateTime))
INSERT [dbo].[Employee] ([EmployeeID], [NationalIDNumber], [ContactID], [LoginID], [ManagerID], [Title], [BirthDate], [MaritalStatus], [Gender], [HireDate], [SalariedFlag], [VacationHours], [SickLeaveHours], [CurrentFlag], [rowguid], [ModifiedDate]) VALUES (2, N'253022876', 1030, N'adventure-works\kevin0', 6, N'Marketing Assistant', CAST(N'1977-06-03 00:00:00.000' AS DateTime), N'S', N'M', CAST(N'1997-02-26 00:00:00.000' AS DateTime), 0, 42, 41, 1, N'1b480240-95c0-410f-a717-eb29943c8886', CAST(N'2004-07-31 00:00:00.000' AS DateTime))
INSERT [dbo].[Employee] ([EmployeeID], [NationalIDNumber], [ContactID], [LoginID], [ManagerID], [Title], [BirthDate], [MaritalStatus], [Gender], [HireDate], [SalariedFlag], [VacationHours], [SickLeaveHours], [CurrentFlag], [rowguid], [ModifiedDate]) VALUES (3, N'509647174', 1002, N'adventure-works\roberto0', 12, N'Engineering Manager', CAST(N'1964-12-13 00:00:00.000' AS DateTime), N'M', N'M', CAST(N'1997-12-12 00:00:00.000' AS DateTime), 1, 2, 21, 1, N'9bbbfb2c-efbb-4217-9ab7-f97689328841', CAST(N'2004-07-31 00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
