USE [QA]
GO
/****** Object:  Table [dbo].[Fact_Sales_Quota]    Script Date: 6/13/2019 7:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Sales_Quota](
	[EmployeeKey] [int] NULL,
	[TimeKey] [int] NULL,
	[CalendarYear] [int] NULL,
	[CalendarQuarter] [int] NULL,
	[Quantity] [int] NULL,
	[Unit_Price] [money] NULL,
	[SalesAmountQuota] [money] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Fact_Sales_Quota] ([EmployeeKey], [TimeKey], [CalendarYear], [CalendarQuarter], [Quantity], [Unit_Price], [SalesAmountQuota]) VALUES (188, 3, 2001, 3, 96, 677.5750, 65047.2000)
INSERT [dbo].[Fact_Sales_Quota] ([EmployeeKey], [TimeKey], [CalendarYear], [CalendarQuarter], [Quantity], [Unit_Price], [SalesAmountQuota]) VALUES (289, 9, 2001, 3, 27, 889.8323, 24025.4721)
INSERT [dbo].[Fact_Sales_Quota] ([EmployeeKey], [TimeKey], [CalendarYear], [CalendarQuarter], [Quantity], [Unit_Price], [SalesAmountQuota]) VALUES (80, 12, 2001, 3, 11, 450.9958, 4960.9538)
GO
