USE [QA]
GO
/****** Object:  Table [dbo].[EmployeeDepartmentHistory]    Script Date: 6/13/2019 7:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDepartmentHistory](
	[EmployeeID] [int] NOT NULL,
	[DepartmentID] [smallint] NOT NULL,
	[ShiftID] [tinyint] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[ModifiedDate] [datetime] NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[EmployeeDepartmentHistory] ([EmployeeID], [DepartmentID], [ShiftID], [StartDate], [EndDate], [ModifiedDate]) VALUES (1, 7, 1, CAST(N'1996-07-31 00:00:00.000' AS DateTime), NULL, CAST(N'1996-07-30 00:00:00.000' AS DateTime))
INSERT [dbo].[EmployeeDepartmentHistory] ([EmployeeID], [DepartmentID], [ShiftID], [StartDate], [EndDate], [ModifiedDate]) VALUES (2, 4, 1, CAST(N'1997-02-26 00:00:00.000' AS DateTime), NULL, CAST(N'1997-02-25 00:00:00.000' AS DateTime))
INSERT [dbo].[EmployeeDepartmentHistory] ([EmployeeID], [DepartmentID], [ShiftID], [StartDate], [EndDate], [ModifiedDate]) VALUES (3, 1, 1, CAST(N'1997-12-12 00:00:00.000' AS DateTime), NULL, CAST(N'1997-12-11 00:00:00.000' AS DateTime))
GO
