USE [QA]
GO
/****** Object:  Table [dbo].[Sales_Quota]    Script Date: 6/13/2019 7:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Quota](
	[OrderId] [int] NULL,
	[EmployeeId] [int] NULL,
	[Quantity] [int] NULL,
	[Unit_Price] [money] NULL,
	[SalesAmount] [money] NULL,
	[OrderDate] [date] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Sales_Quota] ([OrderId], [EmployeeId], [Quantity], [Unit_Price], [SalesAmount], [OrderDate]) VALUES (1, 125, 48, 1.6930, 81.2640, CAST(N'2001-03-10' AS Date))
INSERT [dbo].[Sales_Quota] ([OrderId], [EmployeeId], [Quantity], [Unit_Price], [SalesAmount], [OrderDate]) VALUES (2, 66, 9, 382.8965, 3446.0685, CAST(N'2004-11-17' AS Date))
INSERT [dbo].[Sales_Quota] ([OrderId], [EmployeeId], [Quantity], [Unit_Price], [SalesAmount], [OrderDate]) VALUES (3, 87, 27, 974.6047, 26314.3269, CAST(N'2002-06-29' AS Date))
GO
