USE [QA]
GO
/****** Object:  Table [dbo].[Src_Employee]    Script Date: 6/13/2019 7:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Src_Employee](
	[BusinessEntityID] [int] NOT NULL,
	[NationalIDNumber] [nvarchar](15) NOT NULL,
	[LoginID] [nvarchar](256) NOT NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[MaritalStatus] [nchar](1) NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[HireDate] [date] NOT NULL,
	[SalariedFlag] [bit] NOT NULL,
	[VacationHours] [smallint] NOT NULL,
	[SickLeaveHours] [smallint] NOT NULL,
	[CurrentFlag] [bit] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Src_Employee] ([BusinessEntityID], [NationalIDNumber], [LoginID], [JobTitle], [BirthDate], [MaritalStatus], [Gender], [HireDate], [SalariedFlag], [VacationHours], [SickLeaveHours], [CurrentFlag], [ModifiedDate]) VALUES (1, N'295847284', N'adventure-works\ken0', N'Chief Executive Officer', CAST(N'1963-03-02' AS Date), N'S', N'M', CAST(N'2003-02-15' AS Date), 1, 99, 69, 1, CAST(N'2008-07-31 00:00:00.000' AS DateTime))
INSERT [dbo].[Src_Employee] ([BusinessEntityID], [NationalIDNumber], [LoginID], [JobTitle], [BirthDate], [MaritalStatus], [Gender], [HireDate], [SalariedFlag], [VacationHours], [SickLeaveHours], [CurrentFlag], [ModifiedDate]) VALUES (2, N'245797967', N'adventure-works\terri0', N'Vice President of Engineering', CAST(N'1965-09-01' AS Date), N'S', N'F', CAST(N'2002-03-03' AS Date), 1, 1, 20, 1, CAST(N'2008-07-31 00:00:00.000' AS DateTime))
INSERT [dbo].[Src_Employee] ([BusinessEntityID], [NationalIDNumber], [LoginID], [JobTitle], [BirthDate], [MaritalStatus], [Gender], [HireDate], [SalariedFlag], [VacationHours], [SickLeaveHours], [CurrentFlag], [ModifiedDate]) VALUES (3, N'509647174', N'adventure-works\roberto0', N'Engineering Manager', CAST(N'1968-12-13' AS Date), N'M', N'M', CAST(N'2001-12-12' AS Date), 1, 2, 21, 1, CAST(N'2008-07-31 00:00:00.000' AS DateTime))
GO
