USE [QA]
GO
/****** Object:  Table [dbo].[DimEmployee]    Script Date: 6/13/2019 7:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEmployee](
	[EmployeeKey] [int] IDENTITY(1,1) NOT NULL,
	[ParentEmployeeKey] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[HireDate] [nvarchar](50) NULL,
	[Birthdate] [nvarchar](50) NULL,
	[LoginID] [nvarchar](256) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[PhoneNo] [nvarchar](50) NULL,
	[MaritalStatus] [nchar](10) NULL,
	[Gender] [nchar](1) NULL,
	[DepartmentName] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DimEmployee] ON 

INSERT [dbo].[DimEmployee] ([EmployeeKey], [ParentEmployeeKey], [Name], [HireDate], [Birthdate], [LoginID], [EmailAddress], [PhoneNo], [MaritalStatus], [Gender], [DepartmentName]) VALUES (2, 12, N'TerriDuffy', N'03-Mar-1998', N'01-Sep-1961', N'TDuffy', N'terri0@adventure-works.com', N'819-555-0175', N'SINGLE    ', N'F', N'Engineering')
INSERT [dbo].[DimEmployee] ([EmployeeKey], [ParentEmployeeKey], [Name], [HireDate], [Birthdate], [LoginID], [EmailAddress], [PhoneNo], [MaritalStatus], [Gender], [DepartmentName]) VALUES (3, 3, N'RobertoTamburello', N'12-Dec-1997', N'13-Dec-1964', N'RTamburello', N'roberto0@adventure-works.com', N'212-555-0187', N'MARRIED   ', N'M', N'Engineering')
INSERT [dbo].[DimEmployee] ([EmployeeKey], [ParentEmployeeKey], [Name], [HireDate], [Birthdate], [LoginID], [EmailAddress], [PhoneNo], [MaritalStatus], [Gender], [DepartmentName]) VALUES (4, 267, N'MichaelSullivan', N'30-Jan-2001', N'17-Jul-1969', N'MSullivan', N'michael8@adventure-works.com', N'465-555-0156', N'SINGLE    ', N'M', N'Engineering')
GO
SET IDENTITY_INSERT [dbo].[DimEmployee] OFF
