USE [QA]
GO
/****** Object:  Table [dbo].[DIM_EMPLOYEE]    Script Date: 6/13/2019 7:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_EMPLOYEE](
	[Employee_Key] [int] NOT NULL,
	[Business_Entity_ID] [int] NOT NULL,
	[National_ID_Number] [nvarchar](15) NOT NULL,
	[Login_ID] [nvarchar](256) NOT NULL,
	[Job_Title] [nvarchar](50) NOT NULL,
	[Birth_Date] [nvarchar](50) NOT NULL,
	[Marital_Status] [nchar](3) NOT NULL,
	[Gender] [nchar](3) NOT NULL,
	[Hire_Date] [nvarchar](50) NOT NULL,
	[Salaried_Flag] [int] NOT NULL,
	[Vacation_Hours] [smallint] NOT NULL,
	[Sick_Leave_Hours] [smallint] NOT NULL,
	[Current_Flag] [int] NOT NULL,
	[Modified_Date] [datetime] NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[DIM_EMPLOYEE] ([Employee_Key], [Business_Entity_ID], [National_ID_Number], [Login_ID], [Job_Title], [Birth_Date], [Marital_Status], [Gender], [Hire_Date], [Salaried_Flag], [Vacation_Hours], [Sick_Leave_Hours], [Current_Flag], [Modified_Date]) VALUES (1, 1, N'29-584-7284', N'Adventure-Works\Ken0', N'Chief Executive Officer', N'Mar-02, 1963', N'S  ', N'M  ', N'Feb-15, 2003', 1, 99, 69, 1, CAST(N'2017-06-12 19:54:02.897' AS DateTime))
INSERT [dbo].[DIM_EMPLOYEE] ([Employee_Key], [Business_Entity_ID], [National_ID_Number], [Login_ID], [Job_Title], [Birth_Date], [Marital_Status], [Gender], [Hire_Date], [Salaried_Flag], [Vacation_Hours], [Sick_Leave_Hours], [Current_Flag], [Modified_Date]) VALUES (2, 2, N'24-579-7967', N'Adventure-Works\Terri0', N'Vice President of Engineering', N'Sep-01, 1965', N'S  ', N'F  ', N'Mar-03, 2002', 1, 1, 20, 1, CAST(N'2017-06-12 19:54:02.897' AS DateTime))
INSERT [dbo].[DIM_EMPLOYEE] ([Employee_Key], [Business_Entity_ID], [National_ID_Number], [Login_ID], [Job_Title], [Birth_Date], [Marital_Status], [Gender], [Hire_Date], [Salaried_Flag], [Vacation_Hours], [Sick_Leave_Hours], [Current_Flag], [Modified_Date]) VALUES (3, 3, N'50-964-7174', N'Adventure-Works\Roberto0', N'Engineering Manager', N'Dec-13, 1968', N'M  ', N'M  ', N'Dec-12, 2001', 1, 2, 21, 1, CAST(N'2017-06-12 19:54:02.897' AS DateTime))
GO
